<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Define Data</h2>



<h3>Data Preview</h3>
<textarea>API Data Preview</textarea>

<button>Button 1</button>
<button>Button 2</button>
<button>Button 3</button>

</div>

</body>
</html>
