<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/my_logo.png">
    </a>
    <h1>An exploration of 3D charting</h1>
    <p>This is a sample Node Charting application deployed to Heroku.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    ALERT!!!!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Info Heading</h3>
      <ul>
        <li>heroku addons:docs papertrail</li>
        <li>heroku addons:open papertrail</li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Links 1</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Links 2</h3>
      <ul>
          <li></li>
          <li></li>
          <li></li>
     </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
      ALERT!!!!!!
  </div>
</div>


</body>
</html>
