<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

<% include partials/header.ejs %>
<p id='server-time'></p>
<p id='client-time'></p>

<div class="container">
  <h2>Chart Demo</h2>

  <canvas class='mixed' id='mixed'></canvas>
  <canvas class='bar' id='bar2'></canvas>
  <canvas class='bar' id='bar4'></canvas>
  <canvas id='gauge'></canvas>
  <canvas id='area'></canvas>
  <canvas class='bar' id='bar1'></canvas>    <!--  room -->
  <canvas id='api'></canvas>

  <br><br><br>


  <br><br><br>



  <canvas class='bar' id='bar3'></canvas>  <!-- 3D Barchart -->


  <br><br><br>
</div>

<% include partials/footer.ejs %>
<% include partials/babylon.ejs %>


</body>
</html>
