<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

<% include partials/header.ejs %>

<div class="container">
  <h2>Chart Demo</h2>

  <canvas class='bar' id='bar1'></canvas>

</div>

<% include partials/footer.ejs %>
<% include partials/babylon.ejs %>


</body>
</html>
