<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

<% include partials/header.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>



<h1>Display Data</h1>
<p>Add data list with checkmark for editing.</p>
<button>Edit</button>

<h1>Add Data</h1>
<p>Fields for Label, Value</p>
Label:<br>
<input type="text" name="label" value="Enter Label">
<br>
Value:<br>
<input type="text" name="value" value="Enter Value">

<div id="chartTypeDiv">
  <label for="bar">
      <input type="radio" id="bar" name="chartType" value="bar">
      Bar Chart
  </label>

  <label for="stbar">
      <input type="radio" id="stbar" name="chartType" value="stbar" checked>
      Stacked Bar Chart
  </label>
    
  <label for="line">
      <input type="radio" id="line" name="chartType" value="line">
      Line Chart
  </label>
</div>







<br><br>
<input type="submit" value="Submit">


</div>
<% include partials/footer.ejs %>

</body>
</html>
