<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

<% include partials/header.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

<h1>Display Data</h1>
<p>Add data list with checkmark for editing.</p>
<button>Edit</button>
<h1>Add Data</h1>
<p>Fields for Label, Value</p>
<button>Add</button>


<% include partials/footer.ejs %>

</body>
</html>
