<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

<% include partials/header.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>



<h1>Display Data</h1>
<p>Add data list with checkmark for editing.</p>
<button>Edit</button>

<h1>Add Data</h1>
<p>Fields for Series, Label and Value</p>

Series:<br>
<input type="text" name="series" value="Enter Series Name">
<br>

Label:<br>
<input type="text" name="label" value="Enter Label">
<br>

Value:<br>
<input type="text" name="value" value="Enter Value">

<br><br>
<input type="submit" value="Submit">

<h1>Chart Type</h1>

<div id="chartTypeDiv">
  <label for="bar">
    <input type="radio" id="bar" name="chartType" value="bar">
    Bar Chart
  </label>

  <label for="stbar">
    <input type="radio" id="stbar" name="chartType" value="stbar" checked>
    Stacked Bar Chart
  </label>
    
  <label for="line">
    <input type="radio" id="line" name="chartType" value="line">
    Line Chart
  </label>

  <label for="pie">
    <input type="radio" id="pie" name="chartType" value="pie">
    Pie Chart
  </label>

  <label for="area">
    <input type="radio" id="area" name="chartType" value="area" checked>
    Area Chart
  </label>

  <label for="gauge1">
    <input type="radio" id="gauge1" name="chartType" value="gauge1">
    Gauge Chart 1
  </label>

  <label for="gauge2">
    <input type="radio" id="gauge2" name="chartType" value="gauge2">
    Gauge Chart 2
  </label>



</div>










</div>
<% include partials/footer.ejs %>

</body>
</html>
